/* here will reside the CSS portion of the project, primarily used for the first button*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
}

.button {
  position: relative;
  font-size: 10em;
}

#clock-icon {
  color: #874efe;
}

#clock-icon:hover{
  color: #82E0AA;
}

#smile-icon {
  color: gold;
}

#smile-icon:hover{
  color: #33C4FF;
}

#color-icon {
  color: #FF6AFA;
}

#color-icon:hover{
  color: #23AF5E;
}

#applepie-icon {
  color: #CB242C;
}

#applepie-icon:hover{
  color: gold;
}

#yinyang-icon {
  color: white;
}

#yinyang-icon:hover {
  color: darkgrey;
}

.displayBox {
  position: relative;
  display: flex;
  color: white;
  border: solid white 2px;
}
